<div style="background-color:#263238;width:240px;height:100%;
                position:absolute;z-index:-1;margin-left:-6px">
    <div style="touch-action:manipulation;cursor:pointer; -ms-touch-action:manipulation;
                           line-height:35px;background:linear-gradient(to right,#50BEBE,#009999,#0099CB);
                           color:white;box-sizing:inherit;-webkit-tap-highlight-color:rgba(0,0,0,0);
                           margin-top:10px">
        <a style="touch-action:manipulation;cursor:pointer;
                         background:linear-gradient(to right,#50BEBE,#009999,#0099CB);
                          color:white;display:block;box-sizing:inherit;line-height:35px;
                          -webkit-tap-highlight-color:rgba(0,0,0,0);padding:0.5em 1em;font-size:1 rem;
                          font-weight:bold">Home</a>

    </div>
</div>