.header {
    height: 67px;
    width: 100%;
    background-color:#FFFFFF;
    box-shadow: 0 2px 4px 0 rgba(43,44,45,0.1);
    
    a {
      text-decoration: none;    
      color:#009999 ;
    }
  }
  
  .dropdown:hover>.dropdown-menu {
    display: block;
  }
  
  .dropdown>.dropdown-toggle:active {
    /*Without this, clicking will make it sticky*/
      pointer-events: none;
  }
  .Apps{
    margin-left: 503px;
  }
  .loginHeader{
    margin-left: 0px;
  }