<div class="container col-sm-12" style="background-color:white; z-index:-1;
                width:102%;height:50px;margin-left:-6px;margin-right:-10px; margin-top:40px;
                box-shadow:0 1px 3px rgba(0,0,0,0.1),0 1px 4px rgba(0,0,0,0.05);
                padding:initial;background-color:#019999">
    <p style="color:white;line-height:55px;margin-left:40px">VDT</p>
</div>